<h1>タスク一覧</h1>

<%= flash[:notice] %>
<ul class="tasks">
  <% @tasks.each do |task| %>
  <li class="list-task">
    <h2>タスク名</h2>
    <div class="task-name">
      <%= task.name %>
    </div>
    <h2>内容</h2>
    <div class="task-content">
      <%= task.content %>
    </div>
  </li>
  <% end %>
</ul>
